@font-face {
    font-family: 'ZCOOLKuaiLe';
    src: url('https://edu-cubeonline.oss-cn-chengdu.aliyuncs.com/129c0b5e587e4333bca4d2f4435074b1ZCOOLKuaiLe-Regular.ttf');
}

body {
    font-family: "ZCOOLKuaiLe";
}

article {
    font-size: 16px;
}

#nav{
    font-size: 1.8em;
}

#article-container p {
    margin: 0 0 0 0;
    font-size: 18px;
    text-align: justify;
    line-height: 1.58;
    text-indent: 2em;
}

ul {
    margin: 0px 0px 0px 1em;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 0 0 10px;
    color: var(--text-highlight-color);
    font-weight: bold;
}

hr {
    margin: 25px auto;
}

@media only screen and (min-width: 700px) {
    #recent-posts > .recent-post-item {
        height: 16em;
    }
  }



#vcomment {
    font-size: 1.3em;
}
