<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
    <div class="app">
        <span>输入姓名最后一位和姓名字数</span>
        <input id = "name" v-model="name" style="width: auto;" placeholder="（如：张三输入“三2”）"/><br><br>
        <input id = "idcard" v-model="idcard" placeholder="输入身份证号最后一位"/><br><br>
        <button @click = next()>确认</button>
    </div>
</body>
</html>

<script>
    var app = new Vue({
        el:".app",
        data:{
            name:'',
            idcard:''
        },
        methods:{
            next() {
                location.href = "./hesuan.html?name="+document.getElementById('name').value+"&idcard="+document.getElementById('idcard').value+""
            }
        }
    })
</script>